FESA.SCM.UserLoadJob/Service References/ConsultaUsuarios/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/WsConsultaADWCF" />
  <xs:element name="Buscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pi_strApellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pi_strCodigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pi_strPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WsConsultaADWCF" minOccurs="0" name="BuscarResult" nillable="true" type="q1:ArrayOfclsADItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTodos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pi_strPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WsConsultaADWCF" minOccurs="0" name="ListarTodosResult" nillable="true" type="q2:ArrayOfclsADItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>