FESA.SCM.UserLoadJob/Service References/ConsultaUsuarios/WsConsultaADWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WsConsultaADWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WsConsultaADWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfclsADItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsADItem" nillable="true" type="tns:clsADItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsADItem" nillable="true" type="tns:ArrayOfclsADItem" />
  <xs:complexType name="clsADItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cell" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CentroCosto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodEmp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoCompania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoEmpleado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoEmpleadoJefe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoGerenciaDivision" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoPuesto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoUbicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoUnidadFuncional" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorreoJefe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionCentroCosto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionGerenciaDivision" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionPuesto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionUnidadFuncional" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensajeError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCompania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreGerenteDivision" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreJefeInmediato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumDoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RPM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOfi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoTrabajador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UbicacionFisica" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsADItem" nillable="true" type="tns:clsADItem" />
</xs:schema>